<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
    <head>
        <title>Liste des localités</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 th:text="${title}">Liste des localités</h1>
        
                <ul th:unless="${#lists.isEmpty(localities)}">
                    <li th:each="locality : ${localities}" 
                    th:text="|${locality.postalCode} ${locality.locality}|">1000 Bruxelles</li>
                </ul>
            </div>
        </div>
    </body>
</html>
        