<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
    <head>
        <title>Fiche d'une localité</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 th:text="${locality.postalCode} +' '+ ${locality.locality}">1000 Bruxelles</h1>
            
                <ul th:unless="${#lists.isEmpty(locality.locations)}">
                    <li th:each="location:${locality.locations}"
                        th:text="${location.designation}">
                        Dexia Art Center
                    </li>
                </ul>

                <p th:if="${#lists.isEmpty(locality.locations)}">Aucun lieu de spectacle.</p>

            </div>
        </div>
    </body>
</html>
