<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
<head>
<title>Liste des artistes</title>
</head>
<body>
	<div class="container">
	     <div layout:fragment="content">
	        <h1 th:text="${title}">Liste des artistes</h1>
	
	        <table th:unless="${#lists.isEmpty(artists)}">
	            <thead>
	                <tr>
	                    <th>Firstname</th>
	                    <th>Lastname</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="artist : ${artists}">
	                    <td th:text="${artist.firstname}">Nom</td>
	                    <td th:text="${artist.lastname}">Prenom</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</body>
</html>
