<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
    <head>
        <title>Fiche d'un Spectacle</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
               <h1 th:text="${show.title}">Le titre du spectacle</h1>
                             
               <ul th:unless="${#lists.isEmpty(show.shows)}">
                   <li th:each="show : ${show.shows}" th:text="${show.show}">Spectacle</li>
                  </ul>
            </div>
       </div>
    </body>
</html>
